<div class="container introBlock">
  <div class="row">
    <div class="col-12">
      <h2 class="center">Music
        <small class="text-muted">Let's make some noise</small>
      </h2>
    </div>
    <div class="col-12">
      <br>
      <p>
        One of my main passions in life is contributing to music. I've been playing instruments from around the age of 10 and 
        love contributing to bands and other music related projects. Recently I chose to purchase some recording equipment, and 
        my band has been using this equipment to record some demos. Check them out here! 
      </p>
    </div>
  </div>
  <br>
  <div class="row margin-top-lg">
    <div class="col-md-12">
      <h2><small class="text-muted">The Leafy Greens | <a class="noStyle" href="https://instagram.com/therealleafygreens"><i class="fa fa-instagram"></i></a>&nbsp;
        <a class="noStyle" href="https://soundcloud.com/theleafygreens"><i class="fa fa-soundcloud"></i></a>&nbsp;
        <a href="https://www.youtube.com/channel/UCuRW_G7bUyOgc8ixQhst8VQ"><i class="fa fa-youtube"></i></a></small></h2>
    </div>
    <div id="avatar" class="col-md-12">
        <h5 class="center padding-bottom-sm">Amygdala <small class="text-muted">January 2, 2019</small></h5>
        <iframe width="100%" height="150" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/552941436&color=%23ff5500&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
    </div>
    <div class="col-md-12">
      <p>
        A demo written by <a href="http://ariperez.me/">Ari Perez</a> and Jonas Bakelaar. A work in progress!
      </p>
    </div>
    <br>
    <br>
    <div id="avatar" class="col-md-12">
        <h5 class="center padding-bottom-sm">Should've Been Me <small class="text-muted">November 24, 2018</small></h5>
        <iframe width="100%" height="150" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/534872241&color=%23ff5500&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
    </div>
    <div class="col-md-12">
      <p>
      A demo written by <a href="http://ariperez.me/">Ari Perez</a>, Jonas Bakelaar and Michael Vamvakas. A work in progress!
      </p>
    </div>
    <br>
    <br>
    <div id="avatar" class="col-md-12">
        <h5 class="center padding-bottom-sm">Goodbyes <small class="text-muted">November 19, 2018</small></h5>
        <iframe width="100%" height="150" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/532496265&color=%23ff5500&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
    </div>
    <div class="col-md-12">
      <p>
        A demo written by <a href="http://ariperez.me/">Ari Perez</a>, Jonas Bakelaar and Michael Vamvakas. A work in progress!
      </p>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
</div>
