<div class="container introBlock">
    <div class="row">
      <div class="col-md-12">
        <h3 class="center">
          Emmetros
          <small class="text-muted">Work Terms 1 and 2</small>
        </h3>
      </div>
      <div id="avatar" class="col-md-12">
        <a href="https://emmetros.com"><img class="rounded-corners" height="65px" width="300px" src="../../JonasBakelaar.com/assets/imgs/emmetros.png" /></a><br>
        <h4><small class="text-muted">May 1st, 2018 - Dec 21st, 2018</small></h4>
      </div>
    </div>
    <div class="row margin-top-lg">
      <div id="avatar" class="col-md-4">
        <h2>Introduction</h2>
      </div>
      <div class="col-md-8">
        <p>
          This post outlines my experience working at Emmetros Ltd (<a href="https://emmetros.com">https://emmetros.com</a>) in my first and second co-op work terms. This placement was my
          first co-op experience, and provided me with many industry skills that I can apply to future co-op positions. This page will describe 
          some of the tasks I completed throughout my terms at Emmetros as well as some of the skills I learned along the way.
        </p>
      </div>
    </div>
    <br>
    <div class="row">
      <div id="avatar" class="col-md-4">
        <h2>Employer Info</h2>
      </div>
      <div class="col-md-8">
        <p>
          Emmetros is a Waterloo based start-up focused on building software for people with Alzheimer's and memory loss. They 
          do this through an iOS app called MemorySparx One and a web-based app that was developed during my time at the company called 
          MemorySparx Connect. 
        </p>
      </div>
    </div>
    <br>
    <div class="row">
      <div id="avatar" class="col-md-4">
        <h2>Job Description</h2>
      </div>
      <div class="col-md-8">
        <p>
          As a Quality Assurance Specialist, I was responsible for writing test cases and developing an automated testing suite to test 
          the company's products. I learned the importance of establishing clear and consistent test cases when developing new software, 
          and worked hands on with Java code and new (to me) frameworks to develop the automation testing suite. It also meant working 
          with Emmetros' own API to complete automation tasks.<br>
          <br>
          Approximately 3 months into the co-op placement, I was also offered the opportunity to work as a Developer at the company 
          and help develop their admin website. This meant working directly, hands-on with the company's backend to develop a tool 
          that would let employee's access important site functionality without requiring the employee to learn how to use and write 
          complicated database queries. This also involved learning about different frameworks such as Angular and PrimeNG to build 
          a working UI for the administration website that synced with the backend.
        </p>
      </div>
    </div>
    <br>
    <div class="row">
      <div id="avatar" class="col-md-4">
        <h2>Goals</h2>
      </div>
      <div class="col-md-8">
        <p>
          I chose this QA position as I felt it would be good to have a strong foundation in QA before mmoving on to full time devleopment. 
          I had a number of goals that I wished to accomplish throughout my work term. For the first 4 months, I focused my goals 
          around QA related topics. This included improving my time estimation for completing tasks, learning how to efficiently 
          test software, and improving my problem solving skills. I defined additional goals, including improving my 
          team work skills and successfully contributing to a cross-functional team while also improving my general programming 
          skills through stretch projects.<br>
          <br>
          Overall I would say that I achieved my first 4 month's worth of goals sufficiently. I mainly focused on the first 
          three most QA-relevant goals, however I was also given the opportunity to work on the secondary stretch goals through being 
          a part of many team meetings and through being assigned to develop the automated testing suite for some of Emmetros' products.<br>
          <br>
          In months 4-8, I focused my goals mainly around perfecting QA related tasks and also learning new technologies through software 
          development opportunities. I hoped to improve my programming skills more in this second co-op term, and I feel I was given 
          ample opportunities to do this. I learned new technologies more effectively, such as the <b>MEAN</b> development stack that Emmetros uses 
          for its products (<b>M</b>ongoDB, <b>E</b>xpress.js, <b>A</b>ngular.io and <b>N</b>ode.js).

          Throughout my 8 months working at Emmetros, I was able to achieve, in some way, all of the goals that I set out to achieve. 
          I learned a lot about the QA and automation processes, improved my team work and communication skills through actively participating 
          in meetings and stand-ups, and learned about new and emerging technologies in programming while improving my coding skills. 
          I learned a lot over the past 8 months, and feel that it was an experience I would not have gained had I not been enrolled in 
          the co-op program and had I not been given the opportunity to work at Emmetros. 
        </p>
      </div>
    </div>
    <br>
    <div class="row">
      <div id="avatar" class="col-md-4">
        <h2>Conclusion</h2>
      </div>
      <div class="col-md-8">
        <p>
          My time at Emmetros was a great learning experience. I learned more about the software development process, including requirements 
          gathering, planning, and every other step involved in developing software, than I ever thought I would when I was just starting 
          out at the company. I learned a lot about how companies work in general, I was able to participate in the raising of funding 
          by the company, and overall I was able to work on many of the skills I will need to be successful in the IT/Software Development 
          industry. My experience at Emmetros was a great one, and overall this co-op term was a great introduction to what I can expect 
          from the co-operative education program.
        </p>
      </div>
    </div>
    <br>
    <div class="row">
      <div id="avatar" class="col-md-4">
        <h2>Acknowledgements</h2>
      </div>
      <div class="col-md-8">
        <p>
          I'd like to acknowledge everyone at Emmetros for helping me feel welcome and at ease at the work place. I have never acclimated 
          so quickly to a work place environment before, but everyone on the team made me feel welcome and as if I was a part of the company 
          on the very first day and that attitude never changed throughout my 8 months. The team at Emmetros is truly remarkable and I 
          value everything I learned working with them.
        </p>
      </div>
    </div>
    <br>
    <br>
  </div>
