<div class="container introBlock">
    <div class="row">
      <div id="avatar" class="col-md-12">
        <a href='coop/emmetros'>
          <img class="rounded-corners" height="65px" width="300px" src="../../assets/imgs/emmetros.png" />
        </a>
      </div>
      <div class="col-md-12">
        <h3 class="center">
          Emmetros
          <small class="text-muted">Work Terms 1 and 2</small>
        </h3>
      </div>
    </div>
    <div class="row margin-top-lg">
      <div id="avatar" class="col-md-4">
        <h2>Introduction</h2>
      </div>
      <div class="col-md-8">
        <p>
          Introduction Text
        </p>
      </div>
    </div>
    <div class="row">
      <div id="avatar" class="col-md-4">
        <h2>Employer Info</h2>
      </div>
      <div class="col-md-8">
        <p>
          Employer Info Text
        </p>
      </div>
    </div>
    <div class="row">
      <div id="avatar" class="col-md-4">
        <h2>Job Description</h2>
      </div>
      <div class="col-md-8">
        <p>
          Job Description Text
        </p>
      </div>
    </div>
    <div class="row">
      <div id="avatar" class="col-md-4">
        <h2>Goals</h2>
      </div>
      <div class="col-md-8">
        <p>
          Goals Text
        </p>
      </div>
    </div>
    <div class="row">
      <div id="avatar" class="col-md-4">
        <h2>Conclusion</h2>
      </div>
      <div class="col-md-8">
        <p>
          Introduction Text
        </p>
      </div>
    </div>
    <div class="row">
      <div id="avatar" class="col-md-4">
        <h2>Acknowledgements</h2>
      </div>
      <div class="col-md-8">
        <p>
          Introduction Text
        </p>
      </div>
    </div>
  </div>
