<div class="container introBlock">
    <div class="row">
      <div id="avatar" class="col-md-12">
        <a href='coop/emmetros'>
          <img class="rounded-corners" height="65px" width="300px" src="../../assets/imgs/emmetros.png" />
        </a>
      </div>
      <div class="col-md-12">
        <h3 class="center">
          Emmetros
          <small class="text-muted">Work Terms 1 and 2</small>
        </h3>
      </div>
    </div>
    <div class="row margin-top-lg">
      <div id="avatar" class="col-md-4">
        <h2>Introduction</h2>
      </div>
      <div class="col-md-8">
        <p>
          This post outlines my experience working at Emmetros Ltd in my first and second Coop work terms. This placement was my
          first coop experience, and provided me with many base industry skills that I can apply to future coop positions. This post will
          outline some of the tasks I completed throughout my terms at Emmetros as well as some of the skills I learned along the way.
        </p>
      </div>
    </div>
    <div class="row">
      <div id="avatar" class="col-md-4">
        <h2>Employer Info</h2>
      </div>
      <div class="col-md-8">
        <p>
          Emmetros is a Waterloo based start-up focused on building software for people with Alzheimer's and memory loss. They 
          do this through an iOS app called MemorySparx One and a web-based app that was developed in my time at the company called 
          MemorySparx Connect. 
        </p>
      </div>
    </div>
    <div class="row">
      <div id="avatar" class="col-md-4">
        <h2>Job Description</h2>
      </div>
      <div class="col-md-8">
        <p>
          As a Quality Assurance Specialist, I was responsible for writing test cases and developing an automated testing suite to test 
          the company's products. I learned the importance of establishing clear and consistent test cases when developing new software, 
          and worked hands on with Java code and new (to me) frameworks to develop the automation testing suite. It also meant working 
          with Emmetros' own API to complete automation tasks.<br>
          <br>
          Approximately 3 months into the coop placement, I was also offered the opportunity to work as a Developer at the company 
          and help develop their admin website. This meant working directly, hands-on with the company's backend to develop a tool 
          that would let employee's access important site functionality without requiring the employee to learn how to use and write 
          complicated database queries. This also involved learning about different frameworks such as Angular and PrimeNG to build 
          a working UI for the administration website that synced with the backend.
        </p>
      </div>
    </div>
    <div class="row">
      <div id="avatar" class="col-md-4">
        <h2>Goals</h2>
      </div>
      <div class="col-md-8">
        <p>
          Goals Text
        </p>
      </div>
    </div>
    <div class="row">
      <div id="avatar" class="col-md-4">
        <h2>Conclusion</h2>
      </div>
      <div class="col-md-8">
        <p>
          Introduction Text
        </p>
      </div>
    </div>
    <div class="row">
      <div id="avatar" class="col-md-4">
        <h2>Acknowledgements</h2>
      </div>
      <div class="col-md-8">
        <p>
          Introduction Text
        </p>
      </div>
    </div>
  </div>
