<div class="container introBlock">
  <div class="row">
    <div id="avatar" class="col-3">
      <img class="rounded-corners" height="200px" width="200px" src="../../JonasBakelaar.com/assets/imgs/avatar.png" />
    </div>
    <div class="col-sm">
      <h3 class="padding-bottom-sm">Hi there!</h3>
      <p>
          I'm Jonas Bakelaar, a Software Engineering/Marketing student and software developer. This is my personal website showing off some of the work I've done over the years. Feel free to look around!
      </p>
    </div>
  </div>
  <div class="container margin-top-lg">
    <div class="row">
      <div class="col-md-4">
        <a href="coop">
          <h1 class="display-1 center"><i class="fa fa-briefcase"></i></h1>
          <h3 class="center"><small class="text-muted">Coop</small></h3>
        </a>
      </div>
      <div class="col-md-4">
        <a href='projects'><h1 class="display-1 center">
          <i class="fa fa-book"></i></h1>
          <h3 class="center"><small class="text-muted">Projects</small></h3>
        </a>
      </div>
      <div class="col-md-4">
        <a href="music">
          <h1 class="display-1 center"><i class="fa fa-music"></i></h1>
          <h3 class="center"><small class="text-muted">Music</small></h3>
        </a>
      </div>
    </div>
  </div>
</div>
