<div class="container introBlock">
  <div class="row">
    <div id="avatar" class="col-3">
      <img class="rounded-corners" height="200px" width="200px" src="../../JonasBakelaar.com/assets/imgs/avatar.png" />
    </div>
    <div class="col-sm">
      <h3 class="padding-bottom-sm">Hi there!</h3>
      <p>
          I'm Jonas Bakelaar, a Software Engineering/Marketing student and software developer currently studying at the University of Guelph. This is my personal website showing off some of the work I've done over the years.
          Everything from my <a href="coop">co-op experience</a> to my <a href="projects">personal projects</a> and <a href="music">music</a> 
          can be found here. Feel free to look around!
      </p>
    </div>
  </div>
  <div class="container margin-top-lg margin-bottom-lg">
    <div class="row">
      <div class="col-md-4">
        <a href="coop">
          <h1 class="display-1 center"><i class="fa fa-briefcase"></i></h1>
          <h3 class="center"><small class="text-muted">Co-op</small></h3>
        </a>
        <p class="center">
          Co-op placements and other work experience.
        </p>
      </div>
      <div class="col-md-4">
        <a href='projects'><h1 class="display-1 center">
          <i class="fa fa-book"></i></h1>
          <h3 class="center"><small class="text-muted">Projects</small></h3>
        </a>
        <p class="center">
          Personal projects that I feel are worth sharing.
        </p>
      </div>
      <div class="col-md-4">
        <a href="music">
          <h1 class="display-1 center"><i class="fa fa-music"></i></h1>
          <h3 class="center"><small class="text-muted">Music</small></h3>
        </a>
        <p class="center">
          Music I've helped write and produce.
        </p>
      </div>
    </div>
  </div>
  <br>
</div>
