<div class="container introBlock">
    <div class="row">
      <div id="avatar" class="col-3">
        <img class="rounded-corners" height="200px" width="200px" src="../../JonasBakelaar.com/assets/imgs/avatar.png" />
      </div>
      <div class="col-sm">
        <h3 class="center padding-bottom">Hi there!</h3>
        <p>
            I'm Jonas Bakelaar, a Software Engineering/Marketing student and software developer. This is my personal website showing off some of the work I've done over the years. Feel free to look around!
        </p>
      </div>
    </div>
  </div>
