<div class="container introBlock">
  <div class="row">
    <h1 class="center">Coop</h1>
    <p>
      Test content
    </p>
  </div>
    <div class="row">
      <div id="avatar" class="col-3">
        <img class="rounded-corners" height="200px" width="300px" src="../../JonasBakelaar.com/assets/imgs/avatar.png" />
      </div>
      <div class="col-9">
        <h3 class="center padding-bottom">Emmetros</h3>
        <p>
            At Emmetros, I completed a full 8 month term (Summer 2018 and Fall 2018) doing both Quality Assurance and Development work.
        </p>
      </div>
    </div>
  </div>
