<div class="container introBlock">
  <div class="row">
    <div class="col-12">
      <h2 class="center">Coop
        <small class="text-muted">University of Guelph</small>
      </h2>
    </div>
  </div>
  <br>
  <div class="row margin-top-lg">
    <div class="col-md-12">
      <h2>Work Terms<small class="text-muted"> 1 and 2</small></h2>
    </div>
    <div id="avatar" class="col-md-4">
      <a href='coop/emmetros'>
        <img class="rounded-corners" height="65px" width="300px" src="../../JonasBakelaar.com/assets/imgs/emmetros.png" />
      </a>
    </div>
    <div class="col-md-8">
      <h3 class="center padding-bottom-sm">Emmetros</h3>
      <p>
          At Emmetros, I completed a full 8 month term (Summer 2018 and Fall 2018) doing both Quality Assurance and Development work. <a href="coop/emmetros">--> Click here for a full report.</a>
      </p>
    </div>
  </div>
</div>
